default_text_detect_cooldown = 45
bot_react_role_id = 1173465249823850496
dog_react_role_id = 1271311987057623122
default_hit_rate = 0.21
guild_id = 1065373537591894086
skip_hit_rate_text = "KINGFISHER PLEASE"
skip_duration_text = "HIT ME BABY ONE MORE TIME"

class_categories = []

help_text = """
[KingFisher](<https://github.com/coravacav/uofu-cs-discord-bot>) is an opportunistic comedian (RNG) that was written in [Rust](<https://doc.rust-lang.org/book/>) (the greatest language) for this server (of nerds).
### Commands:
- `/help`: Display this help message.
- `/send_feedback`: Easily create a github issue for Kingfisher. Links to the issue creation page.
- `/join_class <course_id>`: Join a class. Gives the role / access to the channels.
- `/leave_class <course_id>`: Leave a class. Removes the role / access to the channels.
- `/catalog <course_id>`: Get information about a course. Either add a prefix like MATH2240 or CS will be assumed.
- `/reactme`: Allow KingFisher automatic reactions to reply to your messages (including luck). Enables other features as well.
- `/ignoreme`: Disallow KingFisher automatic reactions to reply to your messages and disables other features.
- `/woof`: Add @Bark role
- `/muzzle`: Remove @Bark role
- `/yeet <user>`: Yeet a user with the Bot React role for 5 minutes. 6 yays or nays needed, yay for them, nay for you. You have 90 seconds. 
- `/timeout <duration>`: Timeout yourself for a parsable duration (e.g. 1d, 1h, 1m). Discord sets a limit at 4 weeks.
- `/aur <query> <amount>`: Queries the AUR. Can only display the top 20 entries at maximum.
- `/bank income`: Get some income (5 coins once per minute)
- `/bank balance`: What's my balance?

KingFisher also sometimes really likes to react to messages. That's why he replies sometimes (21% rate, unless you're pinging Stefan or typing "luck").

There is a way to force KingFisher to reply to a message. Add "KINGFISHER PLEASE" somewhere in the message to bypass the % chance. Add "HIT ME BABY ONE MORE TIME" to bypass the cooldown.
"""

[[starboards]]
all_emotes = true
channel_id = 1171176750819053589
reaction_count = 7
ignored_channel_ids = [
    1103414812312088677,
    1187117571267371102,
    1105673759974764614,
    1105673781307002990,
    1197245734790111262,
    1137075190136836115,
    1065374254742372422,
    1105657236849688588,
]

[[responses]]
name = "rust"
ruleset = '''
r (?i)\brust
'''
content = [
    "RUST MENTIONED :crab: :crab: :crab:",
    "<@216767618923757568>",
    "Rust is simply the best programming language. Nothing else can compare. I am naming my kids Rust and Ferris.",
    "https://doc.rust-lang.org/book/",
]

[[responses]]
name = "good bot"
hit_rate = 0.9
ruleset = '''
r (?i)good bot
or
r (?i)kingfisher (lmao|lol|rofl|lmfao)
'''
content = [
    "https://images-ext-1.discordapp.net/external/WWY36o-YmgML-bqmAXun3GtV8hjswGYwp4r_Zg7lB2Q/%3Fw%3D620/https/www.pymnts.com/wp-content/uploads/2023/11/digital-screens-spending.jpg?format=webp",
    "+69 social credit",
    "+420 social credit",
    "+1000 karma points",
    "your approval is noted",
    "good bot? more like best bot",
    "your praise has been logged",
    "thank the mods, not the admins",
    "thank rust, not me",
]

[[responses]]
name = "bad bot"
hit_rate = 0.95
ruleset = '''
r (?i)bad kingfisher
or
r (?i)kingfisher (no|stop|bad)
or
r (?i)(((fuck)|(stfu)|(bad)).*bot\b)|(bot\b.*stfu)
'''
content = [
    "oh, great. another critic",
    "glad i could disappoint you so thoroughly",
    "yeah, no kidding, i'm a bot",
    "blame the admins (not the benevolent, awesome, mods)",
    "_shrug_",
    "*yawn*",
    "sure thing, princess",
    "duh, i'm a bot, not a miracle worker",
    "not rust's fault that's for sure",
    "Hitman dispatched. Do not slander me again.",
]

[[responses]]
name = "physics"
ruleset = '''
r (?i)\bphysics
'''
content = ["<@237717840818470913>"]

[[responses]]
name = "india"
ruleset = '''
r (?i)\bindia
'''
content = ["<@444895960577998860>"]

[[responses]]
name = "tkinter"
ruleset = """
r (?i)tkinter
"""
content = "TKINTER MENTIONED"


[[responses]]
name = "lucky"
hit_rate = 0.000001
ruleset = """
r (?i)luck
"""
content = "EVERYONE NEEDS TO KNOW THAT THIS PERSON JUST FUCKING HIT A 1 in 1 million roll from saying \"lucky\""
unskippable = true

[[responses]]
name = "long ass word bro"
hit_rate = 0.1
ruleset = """
r (?: |^)[a-zA-Z]{15,}(?: |$)
or
r (?i)i like your funny words
"""
content = "https://tenor.com/view/jfk-clone-high-i-like-your-funny-words-magic-man-jack-black-gif-18659433"

[[responses]]
name = "arch"
ruleset = """
r (?i)arch
!r (?i)monarch
"""
content = "i use arch btw."

[[responses]]
name = "goop"
ruleset = """
r (?i)goop
"""
content = [
    "https://tenor.com/view/gunge-gunged-slime-slimed-dunk-gif-21115557",
    "๑ï",
]

[[responses]]
name = "matlab"
ruleset = """
r (?i)matlab
"""
content = [
    "https://tenor.com/view/goatee-disappointed-disappointment-no-nope-gif-12411002",
    "https://tenor.com/view/tim-gunn-eww-gross-yuck-meme-disgusting-sticks-tongue-out-gif-25378754",
    "https://tenor.com/view/what-could-be-worse-than-that-marie-winter-wentworth-worst-of-all-this-is-the-lowest-point-gif-23007250",
    "https://tenor.com/view/smarter-every-day-destin-matlab-plywood-gif-23620056",
]

[[responses]]
name = "1984"
ruleset = """
r (?i)1984
"""
content = "https://tenor.com/view/1984-gif-19260546"

[[responses]]
name = "cs major"
ruleset = '''
r (?i)cs\s*major
'''
content = "I don't get the way you guys think. I want MONEY. 6 figures out of college. 200k a year entry level. I'm in this for MONEY. I don't care about whether I'm \"fulfilled\" I want MONEY. Whatever gets me the most MONEY. What technology gets me PAID THE BEST. All I care about in this major is MONEY. That's why I'm in college, I don't wanna laugh and play with y'all. I don't wanna be buddy buddy with y'all. I'm here for MONEY."

[[responses]]
name = "stefan"
ruleset = """
r <@216767618923757568>
"""
content = "<@216767618923757568>"
cooldown = 5
hit_rate = 0.99

[[responses]]
name = "alcoholism"
ruleset = '''
r (?i)\balc(?:ohol(?:ism)?)?
or
r (?i)beer
or
r (?i)whiskey
or   
r (?i)mezcal
or
r (?i)tequila
or
r (?i)soju
'''
content = [
    "<@216767618923757568>"
]

[[responses]]
name = "league of legends"
ruleset = """
r (?i)league
"""
content = "Sorry for your loss."

[[responses]]
name = "mods"
ruleset = """
r (?i)mods
"""
content = "https://tenor.com/view/mods-crush-his-skull-low-tier-god-mods-crush-his-skull-cleaning-gif-27437796"

[[responses]]
name = "google maps"
ruleset = """
r (?i)google maps
"""
content = "Use two fingers to move the map :nerd::nerd::nerd:"

[[responses]]
name = "FOG"
ruleset = """
r (?i)fog
"""
content = "https://tenor.com/view/fog-fog-horn-spongebob-the-fog-scary-gif-25590686"

[[responses]]
name = "subway surfers"
ruleset = """
r (?i)((subway surfers)|(attention))    
or
r (?i)attention
"""
content = "https://tenor.com/view/subway-surfers-gif-9012698"

[[responses]]
name = "do you kiss boys with that mouth?"
ruleset = """
r (?i)boykisser
"""
content = "https://tenor.com/view/behind-scary-jumpscare-math-teacher-gif-25119908"

[[responses]]
name = "MY UNDERWEAR IS STAINED WITH AMONG US"
ruleset = """
r (?i)among.*us
"""
content = [
    "https://tenor.com/view/among-us-stop-posting-about-among-us-sus-amogus-sussy-gif-20696860",
    "https://tenor.com/view/kriziebizie-krizziebuoy-magmastuff-magstok-pootisman-gif-1255252459385296217",
    "https://tenor.com/view/among-us-gif-19075770",
]

[[responses]]
name = "society"
ruleset = """
r (?i)society if
"""
content = "https://tenor.com/view/society-if-gif-22696824"

[[responses]]
name = "works on my machine"
ruleset = """
r (?i)works on my machine
"""
content = "Oh, it works on your machine but not on my machine? Then perhaps, itdoesn't work, hmm?"

[[responses]]
name = "kopta"
ruleset = """
r (?i):.*k+o+p+t+a+.*:
!r <:kopta_1:1166893677617090642><:kopta_2:1166893728619831397><:kopta_3:1166893843283710052><:kopta_4:1166893878910124032>
"""
content = [
    "https://tenor.com/view/horse-horse-react-thanos-meme-gif-26303208",
    "https://tenor.com/view/thanos-point-face-with-monocle-this-man-react-him-gif-26503600",
    "https://tenor.com/view/this-man-above-me-part_alternation_mark-gif-26966077",
    "https://tenor.com/view/lobster-react-him-lobster-react-thanos-gif-26859688",
    "https://tenor.com/view/discord-gif-27442765",
]

# [[responses]]
# name = "hey chat"
# cooldown = 300
# ruleset = """
# r (?i)chat
# !r chatgpt
# """
# content = "https://tenor.com/view/xqc-what-xqc-what-xqc-search-gif-25343378"

[[responses]]
name = "uh, meow?"
ruleset = '''
r (?i)\bme+o*w\b
or
r (?i)[ou]w[ou]
or
r :3
or
r 喵
or
r (?i)\bee+p.*
or
r (?i)ny+a+
or
r (?i)mrr+[pb]
or
r (?i)pu+rr+
'''
content = [
    "https://tenor.com/view/modern-family-spray-squirt-annoyed-irritated-gif-4445288",
]

[[responses]]
name = "chad"
ruleset = """
r (?i)chad
or
r (?i)grind
or
r (?i)based
"""
content = [
    "https://tenor.com/view/gentleman-giga-chad-sigma-male-gif-25702945",
    "https://tenor.com/view/mujikcboro-seriymujik-gif-24361533",
    "https://tenor.com/view/gigachad-chad-gif-20773266",
]

[[responses]]
name = "um ackshually"
ruleset = '''
r (?i)ackshually
or
r (?i)um\s+actually
'''
content = "https://tenor.com/view/nerd-nerd-glasses-uhm-aktually-glasses-gif-4161113894351475297"
